.app-container {
  max-width: 700px;
  margin: 50px auto 25px;
  background: #8ed6ff;
  padding: 25px 10px 50px 10px;
  border-radius: 4px;
}

.App a {
  text-decoration: none;
}

.App footer {
  color: #8ed6ff;
  margin-bottom: 25px;
}

@media (max-width: 900px) {
  .app-container {
    margin-top: 10px;
  }
}
