.Dictionary h1 {
  font-size: 45px;
  color: #ffcece;
  -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.subheading {
  padding-bottom: 15px;
  color: #ffff;
}

.search-form {
  display: flex;
  justify-content: center;
}

.search-bar {
  width: 60%;
  padding: 5px 10px;
  border: 1px solid #ffcece;
  border-radius: 4px;
}

.search-button {
  background: #ffc1c8;
  color: #ffffff;
  font-size: large;
  font-weight: 600;
  width: 15%;
  margin-left: 10px;
  border: 1.5px dotted #ffffff;
}

.search-button:hover {
  background: #ffb8c1;
  color: #ffffff;
  border: 1.5px dotted #fff0f0;
}
