.SearchResult {
  margin: 0 auto;
  padding: 20px 0 0 0;
  max-width: 80%;
}

.definitions-division {
  background: #ffc1c8;
  padding: 0 5px 5px 15px;
  margin-bottom: 20px;
  border-radius: 4px;
}

.definitions-division p {
  color: #3d3d3d;
}

.definitions-division strong {
  color: #ffffff;
}

p.phonetics {
  margin-bottom: 0;
}
p.example {
  color: #0000008e;
}

.keyword-heading {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
  color: #ffe3b0;
}

.keyword-heading .emoji {
  font-size: 15px;
}

.keyword {
  margin-bottom: 0;
  color: #ffffff;
}

p.part-of-speech {
  font-weight: 500;
  margin-bottom: 10px;
  color: #3d3d3d;
}

@media (max-width: 900px) {
  .SearchResult {
    max-width: 100%;
  }

  .definitions-division {
    padding-top: 5px;
  }
}
